* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9c426;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6rem;
  }
  
  .header {
    background-color: #f9c426;
    padding: 1rem;
    text-align: center;
  }
  
  .navbar-toggler {
    display: none;
  }
  .jumbotron img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 20px;
    max-height: 500px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: larger;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 2.5rem;
    font-size: 200%;
  }
  
  nav ul li a:hover {
    color: #f9c426;
  }
  
  main section {
    margin-bottom: 2rem;
  }
  
   */
  
  footer {
    background-color: #f5f5f5;
    background-color: #f9c426;
    padding: 1rem;
    text-align: center;
  }
  
  .header img {
    min-width: 250px !important;
    height: auto;
    background-color: #f9c426;
  }
  
  .footer img {
    height: 2%;
    max-width: 5%;
  }
  
  h1 {
    font-size: 50rem;
    font-weight: bold;
    text-align: center;
  }
  
  h2 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  h2,
  h3 {
    width: 100%;
  }
  
  .container-fluid {
    background-color: #f9c426;
  }
  
  .btn {
    background-color: #425f59 !important;
    box-shadow: 0 7px rgba(0, 0, 0, 0.3);
  }
  
  .btn:hover {
    transform: scale(110%) !important;
    box-shadow: 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .custom-text-color {
    color: none !important;
  }
  
  @media (min-width: 768px) {
    /* Adjust the layout for screens wider than 768px */
    .header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      text-align: left;
    }
  
    nav ul {
      text-align: right;
      font-size: 100%;
    }
  
    nav ul li {
      margin: 0;
    }
  
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
    }
  
    article {
      margin-bottom: 0;
    }
  
    footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
  
  